[user]
  name = Marek Lukaszuk
  email = m.lukaszuk@gmail.com
  signingkey = 96ADCC4C

[color]
  diff = auto
  status = auto
  branch = auto

[alias]
  co = checkout
  ci = commit
  st = status -s -b
  d = difftool
  send = push --all -q
  sendt = push --tags
  get = pull -q

[diff]
  tool = vimdiff

[difftool]
  prompt = false

[gc]
  auto = 1
[core]
  compression = 9
  gitproxy = ~/bin/git_proxy.sh
