[user]
  name = Marek Lukaszuk
  email = m.lukaszuk@gmail.com
  signingkey = 96ADCC4C

[color]
  diff = auto
  status = auto
  branch = auto

[alias]
  ci = commit
  st = status -s -b
  d = difftool
  send = push --all
  get = pull -q


[diff]
  tool = vimdiff

[difftool]
  prompt = false

[gc]
  auto = 1
[core]
  compression = 9

